<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span> {{$rootScope.user.name}} Main Navigation</span>
</div>

<ul class="main-navigation-menu">

	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Dashboard </span>
				</div>
			</div>
		</a>
	</li>

	<li ui-sref-active="active">
		<a ui-sref="app.tabbs">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-layout-tab"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Tabbs </span>
				</div>
			</div>
		</a>
	</li>

	<li ui-sref-active="active">
		<a ui-sref="app.keywords">
			<div class="item-content">
				<div class="item-media">
					<i class="fa fa-th-list"></i>
				</div>
				<div class="item-inner">
					<span class="title">  Keywords </span>
				</div>
			</div>
		</a>
	</li>
	
	<li ui-sref-active="active">
		<a ui-sref="app.settings.manage">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-truck"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Employee's </span>
				</div>
			</div>
		</a>
	</li>

	<li ui-sref-active="active">
		<a ui-sref="app.contacts">
			<div class="item-content">
				<div class="item-media">
					<i class="fa fa-users"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Contacts </span>
				</div>
			</div>
		</a>
	</li>

	<li ui-sref-active="active">
		<a ui-sref="app.settings.user">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title"> User Profile </span>
				</div>
			</div>
		</a>
	</li>
</ul>



<!-- end: MAIN NAVIGATION MENU -->
