<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span>Main Navigation</span>
</div>

<ul class="main-navigation-menu">

	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Dashboard </span>
				</div>
			</div>
		</a>
	</li>

	<li ui-sref-active="active">
		<a ui-sref="app.charts">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-layout-tab"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Tabbs </span>
				</div>
			</div>
		</a>
	</li>

	<li ui-sref-active="active">
		<a ui-sref="app.messages">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-email"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Messages </span>
				</div>
			</div>
		</a>
	</li>

	

	<li ng-class="{'active open':$state.includes('app.form')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-truck"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Employee's </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.form.elements">
					<span class="title">Sam Smith</span>
				</a>
			</li>
		</ul>
	</li>

	<li ui-sref-active="active">
		<a ui-sref="app.charts">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Contacts </span>
				</div>
			</div>
		</a>
	</li>

	<li ng-class="{'active open':$state.includes('app.settings')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Settings </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.form.elements">
					<span class="title">User Profile</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.form.elements">
					<span class="title">Manage Employees</span>
				</a>
			</li>
		</ul>
	</li>







</ul>
<!-- end: MAIN NAVIGATION MENU -->
