<!-- Contants Header  -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" >Contacts</h1>
			<span class="mainDescription">Customer History</span>
		</div>
	</div>
</section>

<!-- Contacts Table  -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-bordered table-hover" id="sample-table-1">
					<thead>
						<tr>
							<th>Phone Number</th>
							<th>Cost</th>
							<th>Messages</th>
							<th><i class="fa fa-time"></i> Initial Contact</th>
							<th><i class="fa fa-time"></i> Last Update</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="contact in contacts">
							<td>
							<a href="#">{{contact.tabb_user_id}}</a></td>
							<td>$0.35</td>
							<td>143</td>
							<td>Jan 30, 2016 | 2:23:53</td>
							<td>Feb 1, 2016 | 5:35:03</td>
							<td><span class="label label-sm label-warning">Pending</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
