<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Manage Employees</h1>
			<span class="mainDescription">Add & Manage Your Employees</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: FIELDSET -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<h5 class="over-title">Add <span class="text-bold">Employee</span></h5>
			<div class="row">
				<div class="col-md-6">
					<fieldset>
						<legend>
							Account Info
						</legend>
						<div class="form-group">
							<label>
								E-mail <span class="symbol required"></span>
							</label>
							<div class="form-group">
								<input type="email" placeholder="Text Field" name="email" id="email" class="form-control">
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>
							Choose a password
						</legend>
						<div class="form-group">
							<label>
								Password
							</label>
							<input type="text" class="form-control" placeholder="Repeat Password">
						</div>
						<div class="form-group">
							<label>
								Repeat Password <span class="symbol required"></span>
							</label>
							<input type="email" placeholder="Text Field" name="email" id="email" class="form-control">
						</div>
					</fieldset>
				</div>
				<div class="col-md-6">
					<fieldset>
						<legend>
							Personal Information
						</legend>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>
										First Name
									</label>
									<input type="text" name="firstName" class="form-control" placeholder="Enter your First Name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">
										Last Name
									</label>
									<input type="text" name="lastName" class="form-control" placeholder="Enter your Last Name">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="block">
										Gender
									</label>
									<div class="clip-radio radio-danger radio-primary">
										<input type="radio" id="female" name="accounttype" value="employee">
										<label for="employee">
											Employee
										</label>
										<input type="radio" id="admin" name="accounttype" value="male">
										<label for="admin">
											Admin
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-6">
							<div class="form-group">
									<label>
										Phone Number
									</label>
									<span class="input-icon">
										<input type="text" placeholder="Phone Number" id="form-field-14" class="form-control">
										<i class="fa fa-phone"></i> </span>
								</div>
								
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>
							Terms &amp; Condition
						</legend>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="checkbox-inline ck">
										<input type="checkbox" name="newsletter">
										<i></i>
										I read and accept the terms and conditions
									</label>
									<button class="btn btn-wide btn-light-azure pull-right">Add Employee</button>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: FIELDSET -->