<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Manage Employees</h1>
			<span class="mainDescription">Add & Manage Your Employees</span>
		</div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: FIELDSET -->
<div ng-controller="employeeCtrl" class="container-fluid container-fullw bg-white">
	<div class="row" ng-form="myForm"> 
		<div class="col-md-12">
			<h5 class="over-title">Add <span class="text-bold">Employee</span></h5>
			<div class="row">
				<div class="col-md-6">
					<fieldset>
						<legend>
							Account Info
						</legend>
						<div class="form-group">
							<label>
								E-mail <span class="symbol required"></span>
							</label>
							<div class="form-group">
								<span class="input-icon">
									<input type="email" name="email" required ng-model="add_employee.email" placeholder="Email" id="form-field-14" class="form-control" required>
									<i class="ti-email"></i> 
									<span style="padding-top:10px" ng-show="myForm.email.$error.required && !myForm.email.$pristine">Email is required.</span>
									<span ng-show="myForm.email.$error.email">Invalid email address.</span>
								</span>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>
							Choose a password
						</legend>
						<div class="form-group">
							<label>
								Password
							</label>
								<span class="input-icon">
									<input type="password" name="password" required ng-model="add_employee.password" ng-minlength="3" placeholder="Password" id="form-field-14" class="form-control underline">
									<p ng-show="myForm.password.$error.minlength">Password is too short.</p>
								</span>
						</div>
						<div class="form-group">
							<label>
								Repeat Password <span class="symbol required"></span>
							</label>
							<span class="input-icon">
									<input type="password" required ng-model="add_employee.confirmpassword" placeholder="Confirm Password" id="form-field-14" class="form-control">
							</span>
						</div>
					</fieldset>
				</div>
				<div class="col-md-6">
					<fieldset>
						<legend>
							Personal Information
						</legend>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>
										First Name
									</label>
									<span class="input-icon">
										<input type="text" required ng-model="add_employee.first_name" placeholder="First Name" id="form-field-14" class="form-control">
										<i class="fa fa-user"></i>
									</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">
										Position
									</label>
									<span class="input-icon">
										<input type="text" required ng-model="add_employee.last_name" placeholder="Last Name" id="form-field-14" class="form-control">
										<i class="fa fa-user"></i> 
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="block">
										Account Type: 
									</label>
									<div class="clip-radio radio-danger radio-primary">
										<input type="radio" id="employee" name="employee" value="employee">
										<label for="employee">
											Employee
										</label>
										<input type="radio" id="admin" name="admin" value="admin">
										<label for="admin">
											Admin
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-6">
							<div class="form-group">
									<label>
										Phone Number
									</label>
									<span class="input-icon">
										<input type="text" required placeholder="Phone Number" ng-minlength="3"  ng-model="add_employee.phone" id="form-field-14" name="phone" class="form-control">
										<i class="fa fa-phone"></i> </span>
										<p ng-show="myForm.phone.$error.minlength">Phone is too short.</p>

								</div>
								
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>
							Terms &amp; Condition
						</legend>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="checkbox-inline ck">
										<input type="checkbox" name="newsletter">
										<i></i>
										I read and accept the terms and conditions
									</label>
								</div>
								<a ng-click="addEmployee()"  ng-disabled="myForm.$invalid" class="btn btn-wide btn-blue"><i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>


<!-- start: BASIC TABLE -->
	<div class="row">
		<div class="col-md-12">
			<h5 class="over-title margin-bottom-15">Current <span class="text-bold">Employees</span></h5>
			<p>Here is the list of your businesses current employee accounts</p>
			<table class="table table-hover" id="sample-table-1">
				<thead>
					<tr>
						<th class="center">#</th>
						<th>Full Name</th>
						<th class="hidden-xs">Position</th>
						<th>Average Responce Time</th>
						<th class="hidden-xs">Last Online</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td class="center">{{$index+1}}</td>
						<td class="hidden-xs">{{employee.first_name}} {{employee.last_name}}</td>
						<td>Employee</td>
						<td>00:4:35</td>
						<td class="hidden-xs">12/25/2015 12:00 P.M.</td>
						<td class="center">
						<div class="visible-md visible-lg hidden-sm hidden-xs">
							<a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Edit"><i class="fa fa-pencil"></i></a>
							<a href="#" ng-click="deleteEmployee(employee._id)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" uib-tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
						</div>
						<div class="visible-xs visible-sm hidden-md hidden-lg">
							<div class="btn-group" uib-dropdown is-open="status.isopen">
								<button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" uib-dropdown-toggle>
									<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
								</button>
								<ul class="dropdown-menu pull-right dropdown-light" role="menu">
									<li>
										<a href="#">
											Edit
										</a>
									</li>
									<li>
										<a href="#\" ng-click="demo5();" ng-click="deleteEmployee(employee._id)">
											Remove
										</a>
									</li>
								</ul>
							</div>
						</div></td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>

<!-- end: BASIC TABLE -->







</div>
<!-- end: FIELDSET -->