<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.pages.USERPROFILE">USER PROFILE</h1>
			<span class="mainDescription">Edit account information, add employees, track business activity.</span>
		</div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: USER PROFILE -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
			<div ng-controller="UserCtrl">
					<div class="user-left">
						<div class="center">
							<h2>{{business_name}}</h2>
							<hr>
						</div>
						<table class="table table-condensed">
							<thead>
								<tr>
									<th colspan="3">Contact Information</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Business Website</td>
									<td>
									<a href="#">
										<input type="text" placeholder="www.my.tabbs.com">
									</a></td>
								</tr>
								<tr>
									<td>E-Mail</td>
									<td>
									<a href>
										<input type="text" value="{{userInfo.email}}" placeholder="{{userInfo.email}}">
									</a></td>
								</tr>
								<tr>
									<td>Cell Phone Number</td>
									<td>
									<a href>
										<input type="text" placeholder="1-510-557-3502">
									</a></td>
								</tr>
								<tr>
									<td>Tabbs Phone Number</td>
									<td>
									<a href>
										{{userInfo.tabbs_number}}
									</a></td>
								</tr>
								<tr>
									<td>Account Type</td>
									<td>
									<a href>
										<span class="label label-info">{{userInfo.aaccounttype}}</span>
									</a></td>
								</tr>
								<tr>
									<td>Plan</td>
									<td><span class="label label-inverse">Trial Testing</span></td>
								</tr>	
							</tbody>
						</table>
						<div class="text-right">
							<a class="btn btn-primary btn-o btn-wide" href="#" ng-click="editActive = true">
								Save Changes
							</a>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- end: USER PROFILE -->
