<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">TABBS</h1>
			<span class="mainDescription">Real-Time Messages From Your Customers
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: TABS -->
<!-- /// controller:  'TabsDemoCtrl' -  localtion: assets/js/controllers/bootstrapCtrl.js /// -->
<div>
	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-md-12">
				<uib-tabset class="tabbable">
					<!-- Dynamic Tabbs-->
					<uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">


					<div style="width:60%">
						<div class="panel panel-white no-radius">
							<div class="panel-heading border-bottom">
								<h4 class="panel-title">{{tab.content}}</h4>
								<h4 class="panel-title pull-right">Responce Time: 4:23</h4>
							</div>
							<div class="panel-body no-padding">
								<div class="panel-scroll height-330" id="chatBox" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
									<clip-chat messages="chat" id-self="selfIdUser" id-other="otherIdUser"></clip-chat>
								</div>
							</div>
							<chat-submit submit-function="sendMessage" ng-model="chatMessage" scroll-element="#chatBox"></chat-submit>
						</div>
					</div>


					</uib-tab>

				</uib-tabset>
			</div>
		</div>
	</div>
</div>

<!-- <uib-tab select="alertMe()">
		<uib-tab-heading>
			<i class="glyphicon glyphicon-bell"></i> Alert!
		</uib-tab-heading>
		I've got an HTML heading, and a select callback. Pretty cool!
	</uib-tab> -->

<!-- <p>
		<a class="btn btn-primary btn-o" href ng-click="tabs[0].active = true">
			Go to tab 2
		</a>
		<a class="btn btn-primary btn-o" href ng-click="tabs[1].active = true">
			Go to tab 3
		</a>
		<a class="btn btn-default" ng-click="tabs[1].disabled = ! tabs[1].disabled">
			Enable / Disable third tab
		</a>
	</p> -->
