<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">TABBS - {{phone_number | phonenumber}}</h1>
			<span class="mainDescription">Real-Time Messages From Your Customers
		</div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: TABS -->
<!-- /// controller:  'TabsDemoCtrl' -  localtion: assets/js/controllers/bootstrapCtrl.js /// -->
<div>
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
            <h4 ng-show="!tabs.length">There Are No Tabbs Currently</h4>
                <uib-tabset ng-hide="!tabs.length" class="tabbable">
                    <!-- Dynamic Tabbs-->
                  
                    <uib-tab ng-repeat="tab in tabs" active="tab.active" disabled="tab.disabled">


                         <uib-tab-heading>
                            <small>{{tab.title | phonenumber}}</small><i class="fa fa-times" ng-click="removeTabb($index)"></i>
                          </uib-tab-heading>


                    <!--     <div style="width:60%"> -->
                            <div class="panel panel-white no-radius">


                                <div class="panel-heading border-bottom">
                                    <h4 class="panel-title">{{tab.content | phonenumber}}</h4>
                                    <h4 class="panel-title pull-right">Response Time: 4:23</h4>
                                </div>


                                <div class="panel-body no-padding">
                                    <div class="panel-scroll height-330" id="chatBox" scroll-glue perfect-scrollbar wheel-propagation="true" suppress-scroll-x="true">
                                        <clip-chat messages="tab.chat" id-self="selfIdUser" id-other="otherIdUser"></clip-chat>
                                    </div>
                                </div>
                                <form>
                                    <div class="message-bar">
                                        <div class="message-inner"><a href="#" class="link icon-only"><i class="fa fa-camera"></i></a>
                                            <div class="message-area">
                                                <input placeholder="Message" ng-model="business_to_user_message"/>
                                            </div><a translate="offsidebar.chat.SEND" href="#" class="link ng-scope" ng-click="sendMessage(tab, business_to_user_message)">Send</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
<!-- 
                        </div>
 -->

                    </div>
            	</uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>

</div>

<!-- <uib-tab select="alertMe()">
		<uib-tab-heading>
			<i class="glyphicon glyphicon-bell"></i> Alert!
		</uib-tab-heading>
		I've got an HTML heading, and a select callback. Pretty cool!
	</uib-tab> -->

<!-- <p>
		<a class="btn btn-primary btn-o" href ng-click="tabs[0].active = true">
			Go to tab 2
		</a>
		<a class="btn btn-primary btn-o" href ng-click="tabs[1].active = true">
			Go to tab 3
		</a>
		<a class="btn btn-default" ng-click="tabs[1].disabled = ! tabs[1].disabled">
			Enable / Disable third tab
		</a>
	</p> -->
